<h1>Pirate Form</h1>
<form method="Get" action="/pirate">
<h2>Name: <input type="text" name="name"></h2>
<h2>Weight: <input type="text" name="Weight"></h2>
<h2>Height: <input type="text" name="Height"></h2>
<input type="submit" id="Submit">
</form>

<h1>Ship Form</h1>
<form method="Get" action="/pirate">
<h2>Name: <input type="text" name="name"></h2>
<h2>Weight: <input type="text" name="Weight"></h2>
<h2>Height: <input type="text" name="Height"></h2>
<input type="submit" id="Submit">
</form>